.ps {
    font-size: 12px;
    margin: none;
}
.body {
    padding: none;
    font-size: 20px;
}
.colored {
    color: rgb(93, 150, 160);
}
.ss {
    text-decoration: underline;
    text-decoration-color: rgb(93, 150, 160);
}
