.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App:first-child {
  padding-top: 2rem;
}


@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

body {
  font-family: 'Cabin Sketch', sans-serif !important;
}

